@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #fff;
}

.main-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 132%;
    text-transform: uppercase;
    color: #000000;
}